<div class="container">
    <h2 class="text-center">Employee List </h2>
    <br>
    <table class="table table-responsive-sm table-striped text-center">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Position</th>
                <th>Posting</th>
                <th>Phone</th>
                <th>Leaves</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <div class="text-center">
                <input [(ngModel)]="searchStr" name="searchStr">
                <label>Search Employee</label>
                <button type="submit" onclick="submit()">Sumbit</button>
            </div>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.posting}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.leaves}}</td>
                <td>
                    <button (click)="updateemployee(employee.id)" class="btn btn-primary btn-sm buttons">Update</button>
                    <button (click)="deleteemployee(employee.id)" class="btn btn-danger btn-sm buttons">Delete</button>
                    <button (click)="employeeDetails(employee.id)" class="btn btn-info btn-sm buttons " style="margin-top: 5%;">View</button></td>
            </tr>
        </tbody>
    </table>
</div>