<br>
<h3 class="text-center" style="margin-top: 10vh;">Employee Details</h3>
<br>
<div>
    <div>
        <label><b>First Name:</b> </label> {{employee.firstname}}
    </div>

    <div>
        <label><b>Last Name:</b> </label> {{employee.lastname}}
    </div>


    <div>
        <label><b>Email Id:</b> </label> {{employee.emailId}}
    </div>

    <div>
        <label><b>Phone No.:</b> </label> {{employee.phone}}
    </div>

    <div>
        <label><b>Posting:</b> </label> {{employee.posting}}
    </div>

    <div>
        <label><b>Position:</b> </label> {{employee.position}}
    </div>

    <div>
        <label><b>Leaves:</b> </label> {{employee.leaves}}
    </div>
</div>